@font-face {
    font-family: "JetBrains Mono Medium";
    src: url("/fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

.console {
    -fx-control-inner-background: black;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: "JetBrains Mono Medium";
    -fx-font-size: 14px;
    -fx-highlight-fill: grey;
    -fx-highlight-text-fill: white;
}
