@font-face {
    font-family: 'JetBrains Mono';
    src: url('../../fonts/JetBrainsMono-SemiBold.ttf') format('truetype');
}

.root {
    -fx-background-color: BLACK;
    -fx-font-family: "JetBrains Mono ExtraBold";
}

.session-label {
    -fx-font-family: 'JetBrains Mono SemiBold';
    -fx-font-size: 40;
    -fx-text-fill: BLACK;
}

.grid-pane {
    -fx-background-color: BLACK;
    -fx-hgap: 10;
}

.info-label {
    -fx-font-family: "JetBrains Mono ExtraBold";
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: WHITE;
}

.VBox-promo {
    -fx-background-color: BLACK;
    -fx-padding: 5;
    -fx-label-padding: 5;
}

.attraction-label {
    -fx-font-family: "JetBrains Mono ExtraBold";
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: WHITE;
}


.VBox-reservation {
    -fx-border-radius: 5px;
    -fx-border-color: WHITE;
    -fx-border-width: 1;
    -fx-background-color: BLACK;
    -fx-padding: 5;
    -fx-label-padding: 5;
    -fx-alignment: CENTER;
}

.ComboBox-personnes {
    -fx-font-family: 'JetBrains Mono';
    -fx-pref-width: 950;
    -fx-pref-height: 75;
    -fx-background-color: WHITE;
    -fx-fill: WHITE;
    -fx-font-size: 24;

}

.ComboBox-personnes .list-cell {
    -fx-background-color: WHITE;
    -fx-text-fill: BLACK;
    -fx-font-size: 24px;
}

.ComboBox-personnes .list-cell:hover {
    -fx-background-color: BLACK;
    -fx-text-fill: WHITE;
}

.ComboBox-personnes .list-cell:selected {
    -fx-background-color: BLACK;
    -fx-text-fill: WHITE;
}

.ComboBox-personnes .scroll-bar {
    -fx-background-color: #333333;
}

.ComboBox-personnes .scroll-bar .thumb {
    -fx-background-color: #666666;
}

.ComboBox-personnes .arrow-button {
    -fx-background-color: #333333;
}

.combo-box .arrow {
    -fx-background-color: #666666;
}

.scrollPane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scrollPane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color: #333333;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #666666;
}


